*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    padding: 10px;
}
.main {
    min-height: calc(100% - 200px);
}

select
{
    width: 400px;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 20px #181818;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
}

/*form textarea
{
    margin-top: 10px;
    width: 810px;
    height: 400px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 20px #181818;
    font-size: 20px;
}*/
input {
    margin-left: 10px;
    width: 400px;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 20px #181818;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
}
button
{
    margin-top: 10px;
    width: 810px;
    background-color: #d81317;
    height: 50px;
    border: 1px solid #bc1215;
    color: white;
}
