body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

*{
    margin: 0;
    padding:0;
}
header, footer{
    background-color: #181818;
    width: 100%;
    color: white;
    height: 100px;
}
header
{
    height: 10vh;
    display: block;
}
header img
{
    position: relative;
    margin-top: 10px;
    left: 5%;
    width: 250px;
}

footer
{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    margin: 10px 0 0 10px;
}
.feedback textarea
{
    color: white;

}
.navigation
{
    float: right;
    height: 100%;
}
.navigation a:last-child
{
    padding-right: 10px;
}
.navigation a{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    float: left;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}
