*{
    margin: 0;
    padding: 0;
    background-color: #1a202c;
}
.textbox
{
    margin-top: 200px;
    margin-left: 150px;
}
h1 {
    font-size: 55px;
    color: #01fda0;
    font-family: Roboto, serif;
}
h2{
    font-size: 30px;
    color: #a0aec0;
}
p{
    font-size: 15px;
    color: #ffffff;

}
.container
{
    width: 400px;
    height: 350px;
    margin-top: -194px;
    margin-right: 160px;
    float: right;
    border-radius: 12px;
    background-color: #4a5568;
    text-align: center;
}
.form
{
    margin-top: 10px;
    background-color: #4a5568;
    padding: 20px;
}
.form input
{
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    padding: 17px;
    width: 332px;
    margin-left: -10px;
    margin-right: -10px;
}
.login
{
    margin-top: 15px;
    background-color:#2d3748;
    padding: 16px;
    width: 100%;
    border-radius:8px;
    color: white;
    font-family: Arial;
    font-size: 18px;
}
.register
{
    margin-top: 15px;
    background-color:#04AA6D;
    padding: 16px;
    width: 100%;
    border-radius:8px;
    color: white;
    font-family: Arial;
    font-size: 18px;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #070606;
    height: auto;
    width:100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.socials
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li
{
    margin: 0 10px;
}
.socials a
{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.1rem;
    transmition: color .4s ease;
}
.socials a:hover i{
    color: #01fda0;
}
